.list {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
}

@media (min-width: 600px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .list {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }
}
